numpy
langchain>=0.3,<0.4
fastapi[all]
pgvector
python-dotenv
psycopg2-binary
uvicorn
pydantic>=2.0
SQLAlchemy>=2.0
pytesseract

# Security & Auth
passlib[bcrypt]
pyjwt
python-multipart

# Google Gemini integration (hapus package berat, sisakan requests)
requests

# Document processing
PyPDF2
python-pptx