pillow
google-genai
joblib
numpy
langchain>=0.3,<0.4
fastapi[all]
pgvector
python-dotenv
psycopg2-binary
uvicorn
pydantic>=2.0
SQLAlchemy>=2.0
passlib[bcrypt]
pyjwt
python-multipart
requests
PyPDF2
python-pptx
pdf2image
pytesseract
Pillow
google-generativeai